@font-face {
    font-family: 'icomoonfonts';
    src: url('../fonts/icomoonfonts.eot?5eovy0');
    src: url('../fonts/icomoonfonts.eot?5eovy0#iefix') format('embedded-opentype'), url('../fonts/icomoonfonts.ttf?5eovy0') format('truetype'), url('../fonts/icomoonfonts.woff?5eovy0') format('woff'), url('../fonts/icomoonfonts.svg?5eovy0#icomoonfonts') format('svg');
    src:  url('../fonts/icomoonfonts.eot?j9bh62');
    src:  url('../fonts/icomoonfonts.eot?j9bh62#iefix') format('embedded-opentype'),
    url('../fonts/icomoonfonts.ttf?j9bh62') format('truetype'),
    url('../fonts/icomoonfonts.woff?j9bh62') format('woff'),
    url('../fonts/icomoonfonts.svg?j9bh62#icomoonfonts') format('svg');

    font-weight: normal;
    font-style: normal;
    font-display: block;

}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoonfonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\f002";
}

.icon-envelope-o:before {
    content: "\f003";
}

.icon-chevron-left:before {
    content: "\f053";
}

.icon-chevron-right:before {
    content: "\f054";
}

.icon-heart-o:before {
    content: "\f08a";
}

.icon-phone:before {
    content: "\f095";
}

.icon-linkedin:before {
    content: "\f0e1";
}

.icon-angle-right:before {
    content: "\f105";
}

.icon-angle-down:before {
    content: "\f107";
}

.icon-chain-broken:before {
    content: "\f127";
}

.icon-unlink:before {
    content: "\f127";
}

.icon-tumblr-square:before {
    content: "\f174";
}

.icon-dribbble:before {
    content: "\f17d";
}

.icon-graduation-cap:before {
    content: "\f19d";
}

.icon-mortar-board:before {
    content: "\f19d";
}

.icon-google:before {
    content: "\f1a0";
}

.icon-facebook-official:before {
    content: "\f230";
}

.icon-lock:before {
    content: "\e98f";
}
.icon-star-o:before {
    content: "\f006";
}